.section-user {
  position: relative;
  z-index: 1;
  color: white;
  padding: 0rem 3rem;
  padding-top: 6rem;
}

.event-list {
  display: flex;
  flex-direction: column;
}

@media (min-width:600px) {
  .event-list {
    flex-direction: row;
    flex-wrap: wrap;
  }  
}

@media (min-width:801px)  { 
  .event-list {
    flex-direction: row;
  }  
}
