.nav-button {
  width: 2rem;
  font-size: 2rem;
  padding: 0;
  color: white;
  grid-column: 3;
  justify-self: end;

  background: none;
  outline: none;
  border: none;
}

.nav {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  color: #fff;
}

.nav__header {
  height: 5rem;
  width: 100%;
  color: white;
  padding: 0 2rem;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

.nav__footer {
  margin-top: 2rem;
  display: grid;
}
