/* Base Código para Aplicação */

:root {
  /* Cores */
  --color-orange: #FF5A23;
  --color-black: #0C1018;
  --color-black-2: #0C1618;

  --font-sans: 'Rubik', sans-serif;
}

body {
  position: relative;
  background-color: var(--color-black);
  font-family: var(--font-sans);
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 1.8rem;
  color: white;
  font-family: 'Lilita One', cursive;
}

.heading-secondary {
  font-size: 3rem;
  margin-bottom: .5rem;
  letter-spacing: 2px;
  color: var(--color-orange); 
  font-weight: 700;
}

.subtitle {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  color: white;
}

.label {
  color: #fff;
  display: block;
  margin-bottom: 1rem;

  font-weight: 700;
}

.input {
  background: none; 
  width: 100%;
  border: solid 1px gray;
  border-radius: 1.2rem;
  padding: .8rem 1rem;
  color: #fff;
  margin-bottom: 1rem;
}

.btn {
  display: block;
  width: 100%;
  padding: .9rem 2rem;
  font-weight: 700;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.btn--orange {
  background-color: var(--color-orange);
  color: #fff;
}

.btn--transparent {
  background-color: transparent;
  color: var(--color-orange);
}

.btn--small {
  margin-bottom: 0;
  display: block;
  width: auto; 
  padding: .2rem .5rem;
}

.btn--md {
  display: block;
  width: auto;
  padding: .2rem 2rem;
}

.link {
  color: var(--color-orange);

  cursor: pointer;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
